<h4>Look for registred trip ?</h4>

<form action="#" />
    <input type="text" placeholder="Per destination" />
    <div class="control-group">  
        <span>Between</span>
        <input type="text" placeholder="Earliest date" class="input-small" />
        <span>And</span>
        <input type="text" placeholder="Latest date" class="input-small" />
    </div>
    <select class="shadow_slect">
        <option>All</option>
        <option>In group</option>
        <option>With a girl</option>
        <option>With a boy</option>
    </select>
    <p>
        <input type="submit" class="btn btn-success" value="Search" />
        or 
        <a href="{{ path("trip_new") }}" class="btn" >Create your trip</a>
    </p>
    
</form>