<h4>Look for registred trip ?</h4>

<form action="#" />
    <input type="text" placeholder="Criteria 1" />
    <input type="text" placeholder="Criteria 2" />
    <p>
        <input type="submit" class="btn btn-success" value="Search" />
        or 
        <input type="submit" class="btn" value="Create your trip" />
    </p>
    
</form>